# Django Settings
DEBUG=True
SECRET_KEY=some123text
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 0.0.0.0

# Postgres Settings
SQL_ENGINE=django.db.backends.postgresql
DB_SCHEMA=content
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_DB=movies_database

# SQLite settings
SQLITE_DB_NAME=db.sqlite

# Elastic Search
ES_PROTOCOL=http
ES_HOST=elasticsearch
ES_PORT=9200

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Fastapi
FASTAPI_HOST=http://fastapi
FASTAPI_PORT=8000
GENRE_CACHE_EXPIRE_IN_SECONDS=1
PERSON_CACHE_EXPIRE_IN_SECONDS=1
FILM_CACHE_EXPIRE_IN_SECONDS=1

UVICORN_RELOAD=True
PROJECT_NAME=films_api
PAGE_SIZE=50
LOC_LANGUAGE=RU

SENTRY_DSN=добавьте_свой_DSN
JWT_SECRET=secret
JWT_ALGORITHM=HS256
